.App {
	width: 100vw;
	height: 100vh;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.box {
	width: 200px;
	height: 200px;
	background: red;
	transform-origin: top left;
	animation: swing 2s infinite alternate ease-in-out;
}

@keyframes swing {
	from {
		transform: rotate(20deg);
	}

	to {
		transform: rotate(67.5deg);
	}
}

.hi {
	position: relative;
	top: 10px;
	left: 0;
	z-index: 1;
}

.letter-board {
	display: flex;
}

.letters {
	position: relative;
	display: block;
	z-index: 10;
	margin: 0;
	border: 1px solid black;
	width: 1rem;
	height: 1rem;
}